/* Styling for HTML elements */

body {
    padding: 0;
    margin: 0;
    font-famioly: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background: #efeee7;
}

header {
    background: #333;
}

h1 {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: #eee;
    text-align: center;
}

h2 {
    font-size: 24px;
}

a {
    color: #d23034;
}


/* Select elements based on class*/

.container {
    width: 1024px;
    margin: 0 auto;
}


/* Select elements based on ID*/

#main-bio,
#contact-info {
    float: left;
}

#bio-image {
    float: left;
    width=300 height=400;
}

#bio-name {
    position: absolute;
    top: 60px;
    left: 490px;
}

#main-bio {
    width: 70%;
}

#contact-info {
    width: 30%;
}

#bio-image {
    width: 200px;
    height: 200px;
    margin-right: 20px;
}